<!DOCTYPE html>
<html>

    <head>

        <title>Elkjøp Outlet Product Scraper</title>

        <style>

            * {
                background-color: rgb(58, 58, 58);
            }

            img {
                max-width: 200px;
            }

            .product-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
                grid-gap: 0px;
            }

            .clickable-div {
                background-color: rgb(58, 58, 58);
                text-align: center;
                border: 2px solid #000000;
                min-height: 350px;
            }
    
            .productName {
                color: white;
            }

            .productPrice {
                color: rgb(168, 164, 127);
                font-weight: 700;
                font-size: larger;
            }

            a {
                text-decoration: none;
            }

        </style>

    </head>

    <body>

        <div class="product-grid">
                        
            <a href="https://www.elkjop.no/product/outlet/grohe-red-duo-c-tut-medium-varmtvannsbereder/403170">
                <div class="clickable-div">
                    <p class="productName">Grohe Red Duo C-tut Medium varmtvannsbereder</p>
                    <p class="productPrice">7500</p>
                    <img src="https://www.elkjop.no/image/dv_web_D180001002235041/403170/grohe-red-duo-c-tut-medium-varmtvannsbereder--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>



            <a href="https://www.elkjop.no/product/outlet/sony-xperia-1-iv-5g-smarttelefon-12256gb-sort/615542">
                <div class="clickable-div">
                    <p class="productName">Sony Xperia 1 IV - 5G smarttelefon 12/256GB (sort)</p>
                    <p class="productPrice">6745</p>
                    <img src="https://www.elkjop.no/image/dv_web_D180001002994116/615542/sony-xperia-1-iv-5g-smarttelefon-12256gb-sort--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>

            <a href="https://www.elkjop.no/product/outlet/sony-xperia-5-iv-smarttelefon-gronn/618602">
                <div class="clickable-div">
                    <p class="productName">Sony Xperia 5 IV smarttelefon (grønn)</p>
                    <p class="productPrice">5495</p>
                    <img src="https://www.elkjop.no/image/dv_web_D1800010021113822/618602/sony-xperia-5-iv-smarttelefon-gronn--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>

            <a href="https://www.elkjop.no/product/outlet/oneplus-11-5g-smarttelefon-1288gb-sort/653917">
                <div class="clickable-div">
                    <p class="productName">OnePlus 11 5G smarttelefon 128/8GB (sort)</p>
                    <p class="productPrice">4945</p>
                    <img src="https://www.elkjop.no/image/dv_web_D1800010021337811/653917/oneplus-11-5g-smarttelefon-1288gb-sort--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>



            <a href="https://www.elkjop.no/product/outlet/motorola-edge-30-fusion-smarttelefon-8128gb-opal-white/607629">
                <div class="clickable-div">
                    <p class="productName">Motorola Edge 30 Fusion smarttelefon 8/128GB (opal white)</p>
                    <p class="productPrice">3495</p>
                    <img src="https://www.elkjop.no/image/dv_web_D1800010021115246/607629/motorola-edge-30-fusion-smarttelefon-8128gb-opal-white--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>



            <a href="https://www.elkjop.no/product/outlet/samsung-sound-tower-mxst40b-barbar-hoyttaler-sort/594383">
                <div class="clickable-div">
                    <p class="productName">Samsung Sound Tower MXST40B bærbar høyttaler (sort)</p>
                    <p class="productPrice">1845</p>
                    <img src="https://www.elkjop.no/image/dv_web_D1800010021085610/594383/samsung-sound-tower-mxst40b-barbar-hoyttaler-sort--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>

            <a href="https://www.elkjop.no/product/outlet/audio-pro-c5-mkii-hoyttaler-15271-hvit/540644">
                <div class="clickable-div">
                    <p class="productName">Audio Pro C5 MKII høyttaler 15271 (hvit)</p>
                    <p class="productPrice">1745</p>
                    <img src="https://www.elkjop.no/image/dv_web_D1800010021105015/540644/audio-pro-c5-mkii-hoyttaler-15271-hvit--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>

            <a href="https://www.elkjop.no/product/outlet/sigma-50mm-f28-dg-ex-macro-s/596069">
                <div class="clickable-div">
                    <p class="productName">Sigma 50mm f/2.8 DG EX Macro S</p>
                    <p class="productPrice">1647</p>
                    <img src="https://via.placeholder.com/1000x1000.jpg?text=No+image!">
                    <p></p>
                </div>
            </a>



            <a href="https://www.elkjop.no/product/outlet/sonos-one-hoyttalerstativ-2-pakk-hvit/742212">
                <div class="clickable-div">
                    <p class="productName">Sonos One høyttalerstativ 2-pakk (hvit)</p>
                    <p class="productPrice">1445</p>
                    <img src="https://www.elkjop.no/image/dv_web_D180001002853990/742212/sonos-one-hoyttalerstativ-2-pakk-hvit--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>

            <a href="https://www.elkjop.no/product/outlet/sonos-one-hoyttalerstativ-2-pakk-sort/742211">
                <div class="clickable-div">
                    <p class="productName">Sonos One høyttalerstativ 2-pakk (sort)</p>
                    <p class="productPrice">1445</p>
                    <img src="https://www.elkjop.no/image/dv_web_D180001002853988/742211/sonos-one-hoyttalerstativ-2-pakk-sort--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>

            <a href="https://www.elkjop.no/product/outlet/neato-d8-robotstovsuger/419270">
                <div class="clickable-div">
                    <p class="productName">Neato D8 robotstøvsuger</p>
                    <p class="productPrice">1439</p>
                    <img src="https://www.elkjop.no/image/dv_web_D180001002796006/419270/neato-d8-robotstovsuger--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>

            <a href="https://www.elkjop.no/product/outlet/homely-boligalarm-startpakke/278874">
                <div class="clickable-div">
                    <p class="productName">Homely boligalarm startpakke</p>
                    <p class="productPrice">1369</p>
                    <img src="https://www.elkjop.no/image/dv_web_D180001002267711/278874/homely-boligalarm-startpakke--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>

            <a href="https://www.elkjop.no/product/outlet/sigmaf16921/595971">
                <div class="clickable-div">
                    <p class="productName">SIGMAF16921</p>
                    <p class="productPrice">1349</p>
                    <img src="https://via.placeholder.com/1000x1000.jpg?text=No+image!">
                    <p></p>
                </div>
            </a>

            <a href="https://www.elkjop.no/product/outlet/yamaha-senterhoyttaler-nsc444b-blank-sort/144092">
                <div class="clickable-div">
                    <p class="productName">Yamaha senterhøyttaler NSC444B (blank sort)</p>
                    <p class="productPrice">1245</p>
                    <img src="https://www.elkjop.no/image/dv_web_D18000100263267/144092/yamaha-senterhoyttaler-nsc444b-blank-sort--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>

            <a href="https://www.elkjop.no/product/outlet/tado-smart-thermostat-starterkit-v3/320276">
                <div class="clickable-div">
                    <p class="productName">Tado Smart Thermostat StarterKit V3+</p>
                    <p class="productPrice">1195</p>
                    <img src="https://www.elkjop.no/image/dv_web_D180001002361135/320276/tado-smart-thermostat-starterkit-v3--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>

            <a href="https://www.elkjop.no/product/outlet/flexson-veggfeste-for-sonos-playbar-sort/177657">
                <div class="clickable-div">
                    <p class="productName">Flexson veggfeste for Sonos PLAYBAR (sort)</p>
                    <p class="productPrice">1195</p>
                    <img src="https://www.elkjop.no/image/dv_web_D18000100243583/177657/flexson-veggfeste-for-sonos-playbar-sort--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>

            <a href="https://www.elkjop.no/product/outlet/bose-frames-rondo-solbriller-med-lyd-sort/267304">
                <div class="clickable-div">
                    <p class="productName">Bose Frames Rondo solbriller med lyd (sort)</p>
                    <p class="productPrice">1159</p>
                    <img src="https://www.elkjop.no/image/dv_web_D180001002227803/267304/bose-frames-rondo-solbriller-med-lyd-sort--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>

            <a href="https://www.elkjop.no/product/outlet/samsung-clean-station-rengjoringsstasjon-vcasae904-hvit/528291">
                <div class="clickable-div">
                    <p class="productName">Samsung Clean Station rengjøringsstasjon VCASAE904 (hvit)</p>
                    <p class="productPrice">1149</p>
                    <img src="https://www.elkjop.no/image/dv_web_D180001002796559/528291/samsung-clean-station-rengjoringsstasjon-vcasae904-hvit--plp_product-tile-250.jpg">
                    <p></p>
                </div>
            </a>
        </div>
        
    </body>

</html>